################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/.ipynb_checkpoints
/FRA.csv
/GBR.csv
/ITA.csv
/tate_dataset.csv
/wbdata.xlsx
/tate_dataset.pkl
/weather-data
